aesara==2.0.10
cloudpickle==1.6.0
colorama==0.4.4
commonmark==0.9.1
cplex==20.1.0.1
cvxpy==1.1.13
cycler==0.10.0
dreal==4.21.6.1
ecos==2.0.7.post1
filelock==3.0.12
gurobipy==9.1.2
jsonlib-python3==1.6.1
kill-timeout==0.0.3
kiwisolver==1.3.1
llvmlite==0.36.0
matplotlib==3.4.2
memory-profiler==0.58.0
mpmath==1.2.1
numba==0.53.1
numpy==1.20.3
nvidia-ml-py==11.450.51
osqp==0.6.2.post0
Pillow==8.2.0
psutil==5.8.0
Pygments==2.9.0
pyparsing==2.4.7
pypolycontain==1.4
python-dateutil==2.8.1
qdldl==0.1.5.post0
rich==10.5.0
scalene==1.3.8
scikit-glpk==0.4.1
scipy==1.6.3
scs==2.1.4
six==1.16.0
sympy==1.8
tblib==1.7.0
yappi==1.3.2

